// @use "../posts/PostsList.scss";

// @mixin images($width) {
//     width: $width;
// }

// $border-color: pink;

// .coverImage {
//     @include PostsList.images(100px);
// }

// .profileImage {
//     @include PostsList.images(50px);
//     border: solid 3px $border-color;
//     &:hover {
//       border-color: darken($border-color, 30%);
//     }
// }
/* Add your styles here. */

@use '../../public/variables' as *;
@use '../../public/styles' as styles;

.postedBy {
  font-weight: $font-weight-bold;
}

.createdAt {
  font-weight: $font-weight-lighter;
  font-size:  $font-size-secondary;
  line-height: $line-height-secondary;
}

.childText{
  padding : 16px;
}

.imageParent {
  position: relative;
  left: 0;
  top: 0;
}

.coverImage {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

 .profileImage {
  position: absolute;
  top: 60%;
  left: 10%;
  height: 100px;
  border: 3px solid #ffffff;
  border-radius: 50%;
} 

.profilePad {
  position: absolute;
  top: 60%;
  left: 0;
  height: 40%;
  width: 100%;
  background:$bkg;
  opacity: 50%;
}

.name{
  position: absolute;
  top: 70%;
  left: 50%;
  font-weight: $font-weight-regular;
  font-size: $font-size-title;
}

.username{
  position: absolute;
  top: 110%;
  left: 50%;
  font-weight: $font-weight-bold;
  font-size: $font-size-body;
}

.email{
  position: absolute;
  top: 120%;
  left: 50%;
  font-weight: $font-weight-lighter;
  font-size: $font-size-secondary;
}

.profileSession {
  height: 200px;
}

.userPosts {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  // padding : 24px;
}

.userSinglePost {
  background: $darker-bkg;
  width: 100%;
  margin: 12px;

  img {
    width: 300px;
  }

}

.userDetails {
  @include styles.main-styles;
}

.postsSession {
  display: flex;
  flex-direction: column;
}

#root {
  margin: 0;
  padding: 0;
  max-width: 100vw;
}