@use "../posts/PostsList.scss";

// @mixin images($width) {
//     width: $width;
// }

$border-color: pink;

.coverImage {
    @include PostsList.images(100px);
}

.profileImage {
    @include PostsList.images(50px);
    border: solid 3px $border-color;
    &:hover {
      border-color: darken($border-color, 30%);
    }
}