$bkg: #252A38;
$darker-bkg: #151820;
$default-fgd: #DCDCDC;
$primary: #2985FF;
$font-family: Segoe UI;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-lighter: 300;
$font-size-title: 24px;
$font-size-subtitle: 20px;
$font-size-button: 20px;
$font-size-body: 14px;
$font-size-secondary: 10px;
$line-height-title: 24px;
$line-height-subtitle: 24px;
$line-height-button: 32px;
$line-height-body: 20px;
$line-height-secondary: 16px;