@use 'variables' as *;

@mixin main-styles {
    background : $bkg;
    color: $default-fgd;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size:  $font-size-body;
    line-height: $line-height-body;
  
}

body {
    @include main-styles;
}