@use 'variables' as *;

@mixin main-styles {
    background : $bkg;
    color: $default-fgd;
    font-family: $font-family;
    font-weight: $font-weight-regular;
    font-size:  $font-size-body;
    line-height: $line-height-body;
}

body {
    @include main-styles;
} 
   
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; 
    flex-wrap: wrap;
  }

  .child {
    width: 40%;
  }

  .menuPadShow{
    width : 40%
  }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .parent {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start; 
        flex-wrap: wrap;
      }

      .child {
        width: 30%;
      }

      .menuPadShow{
        width : 30%
      }
  }
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
    .parent {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start; 
        flex-wrap: wrap;
      }

      .child {
        width: 30%;
      }

      .menuPadShow{
        width : 20%
      }
}
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    .parent {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start; 
        flex-wrap: wrap;
      }

      .child {
        width: 30%;
      }
    
      .menuPadShow{
        width : 20%
      }
}

