
@mixin images($width) {
    width: $width;
}

@mixin containerdetails($color: rgb(43, 144, 175)) {
background-color: $color;
font-size: medium;
}

.container { 
    @include containerdetails();
}

@mixin detailsection ($color: rgb(99, 11, 45))
{
    flex-direction: row;
    font-style: italic;
    border: 5px solid $color;
}
.setimage 
{
    @include images(40px);
}
    
.likedby
{
    @include detailsection();

}

.dislikedby
{
    @include detailsection(green);

}