@use '../../public/variables' as *;
@use '../../public/styles' as styles;

.postedBy {
  font-weight: $font-weight-bold;
}

.createdAt {
  font-weight: $font-weight-lighter;
  font-size:  $font-size-secondary;
  line-height: $line-height-secondary;
}

.interaction-button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; 
  button {
    font-size: $font-size-button;
    line-height: $line-height-button;
    width: 50%;
  }
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  padding : 24px;
}

.child {
  background: $darker-bkg;
  width: 100%;
  margin: 12px;
  img {
    width: 100%;
  }
}

.childText{
  padding : 16px;
}

.interaction-count-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start; 
}



// @mixin images($width) {
//     width: $width;
//     border: 1px;
// }

// @mixin containerdetails($color: rgb(43, 144, 175)) {
// background-color: $color;
// font-size: medium;
// border: 3px solid black;
// margin: 5px;
// flex-direction: row;
// }

// .container { 
//     @include containerdetails(white);
// }

// @mixin detailsection ($color: rgb(99, 11, 45))
// {
//     flex-direction: row;
//     font-style: bold;
//     border: 1px inset $color;
//     margin-top: 5px;
// }

// @mixin button($color) {
//     font-size: 14px;
//     line-height: 1;
//     text-transform: uppercase;
//     font-weight: bold;
//     padding: 10px 20px;
//     background-color: $color;
// }

// .setimage 
// {
//     @include images(40px);
// }

// .setimage:hover
// {
//     @include images(75px);
// }
  
// .messageBox {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
// }

// .textMessage {
//     display: flex;
//     font-size: small;
//     align-items: flex-start;
//     flex-direction: column;
// }
// .imgBox {
//     @include images(40px);
//     justify-content: flex-start;

// }

// .buttonBox {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
// }

// .like-button{
//     @include button(yellow);
// }
// .dislike-button{
//     @include button(red);
// }
  
// .likedby
// {
//     @include detailsection();
//     font-weight: bold;
// }
// .dislikedby
// {
//     @include detailsection(lightgreen);
//     font-weight: bold;
// }
// .likelist, .dislikelist {
//     font-size: 10px;
//     font-style: italic;
//     font-weight: normal;
// }
